.cardPokemon {
    padding: 0px 10px;
    border: solid 1px aquamarine;
    width: 280px;
    height: 300px;
    display: flex;
    flex-direction: column;
    background-color: aliceblue;
    align-items: center;
    justify-content: center;
}

.pokeImg {
    background-color: transparent;
    height: 80%;
    width: 80%;
}

.link {
    text-decoration: none;
}

.pokeName {
    color: black;
    text-transform: capitalize;
    margin-bottom: 15px;
}

.icons {
    align-self: flex-end;
    padding-top: 10px;
}